[submodule "gmssl"]
	path = gmssl
	url = https://github.com/guanzhi/GmSSL
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "tengine"]
	path = tengine
	url = https://github.com/alibaba/tengine.git
[submodule "tassl"]
	path = tassl
	url = https://github.com/jntass/TASSL-1.1.1.git
[submodule "mkcert"]
	path = mkcert
	url = https://github.com/FiloSottile/mkcert
